body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  background-color: #151515;
  margin: 0;
}

p {
  color: white;
}

.update {
  padding: 40px 80px;
  border-radius: 16px;
}

p,
.update {
  font-size: 48px;
}

.reset {
  position: fixed;
  bottom: 48px;
  left: 48px;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 16px;
  display: none;
}
